[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "==3.17.1"
flake8 = "==3.7.9"

[packages]
locustio = "==0.14.5"

[requires]
python_version = "3.7"
