[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "==3.17.0"

[packages]
beautifulsoup4 = "==4.8.2"
flake8 = "==3.7.9"
locustio = "==0.13.0"
sceptre = "==2.2.1"

[requires]
python_version = "3.7"
